/* General Body and Header Styles */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #6a4c9c; /* Color violeta pastel */
    padding: 15px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
}

header nav ul li a:hover {
    color: #ffb3ff; /* Color de hover */
}

/* About Me Section */
#about-me {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
}

#about-me h2 {
    font-size: 2.5em;
    color: #6a4c9c; /* Color violeta pastel */
    margin-bottom: 20px;
}

#about-me img {
    width: 200px; /* Ajusta el tamaño de la imagen */
    height: 200px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-top: 20px;
    border: 5px solid #e6e6fa; /* Borde suave de color lavanda */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Añade sombra para darle profundidad */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out; /* Transición suave */
}

/* Efecto hover para la imagen */
#about-me img:hover {
    transform: scale(1.1); /* Aumenta el tamaño ligeramente cuando pasa el ratón */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* Sombra más intensa para dar el efecto de iluminación */
    filter: brightness(1.2); /* Ilumina la imagen cuando se pasa el ratón */
}

/* Experience Section */
#experience {
    background-color: #fafafa;
    padding: 40px;
    text-align: center;
}

#experience h2 {
    font-size: 2.5em;
    color: #6a4c9c;
    margin-bottom: 20px;
}

.experience-item {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.experience-item h3 {
    font-size: 1.8em;
    color: #6a4c9c;
}

.experience-item p {
    font-size: 1.1em;
}

.experience-item:hover {
    transform: translateY(-10px); /* Efecto de elevar el contenedor */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Sombra más intensa */
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }
}
