/* Estilos adicionales para la sección de experiencia */
#experience {
    background-color: #f9f9f9; /* Fondo claro para diferenciar la sección */
    padding: 40px;
    margin: 20px 0;
}

#experience h2 {
    color: #6a4c9c; /* Color violeta pastel */
}

.job {
    background-color: #fff; /* Fondo blanco para cada trabajo */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.job h3 {
    color: #6a4c9c; /* Color violeta pastel para el título del trabajo */
}

.job p {
    color: #333;
}

.job ul {
    list-style-type: disc;
    margin-left: 20px;
}

.job ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #E6E6FA; /* Lavanda (violeta pastel) */
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
